* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Roboto Mono", monospace;
    color: white;
    background-color: rgb(103, 102, 102);
  }
  /* ---------------------- ⬇️ 1st section ⬇️ ---------------------- */
  .first_container {
    width: 100%;
    height: 100vh;
  }
  .first_container .left,
  .right_first_img {
    width: 50%;
    float: left;
  }
  .right_first_img img {
    width: 100%;
    height: 100vh;
  }
  .left {
    background-color: #0c3b2e;
    height: 100vh;
    color: #ffffff;
  }
  .left h1 {
    color: #ffffff;
    font-size: 50px;
    /* font-size: 36px; */
    padding-left: 50px;
    /* padding-left: 35px; */
    padding-top: 50px;
  }
  .text {
    margin-top: 20px;
    padding-left: 50px;
    /* padding-left: 35px; */
    font-weight: 400;
    font-size: 16px;
  }
  
  .date {
    font-size: 16px;
    font-weight: 400;
    padding-left: 50px;
    margin-top: 90px;
  }
  
  .first_button {
    border: none;
    margin-left: 50px;
    margin-top: 40px;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffba00;
    font-weight: 800;
    border-radius: 18px;
  }
  .first_button:hover {
    background-color: #bb5617;
    color: #ffffff;
    cursor: pointer;
  }
  @media (max-width: 1118px) {
    .left h1 {
      font-size: 35px;
      padding-left: 40px;
    }
    .text {
      font-size: 16px;
      padding-left: 40px;
    }
    .date {
      padding-left: 40px;
    }
    .first_button {
      margin-left: 40px;
    }
  }
  @media (max-width: 800px) {
    .first_container .left,
    .right_first_img {
      width: 100%;
    }
    .left {
      height: 80vh;
    }
  
    .left h1 {
      font-size: 38px;
    }
    .text {
      font-size: 18px;
    }
    .date {
      font-size: 14px;
    }
    .right_first_img {
      height: 80vh;
    }
  }
  
  @media (max-width: 475px) {
    .left {
      height: 80vh;
    }
    .left h1 {
      padding-top: 40px;
      font-size: 35px;
      padding-left: 40px;
    }
    .text {
      padding-left: 40px;
      font-size: 16px;
    }
    .date {
      padding-left: 40px;
      font-size: 14px;
    }
    .first_button {
      margin-left: 40px;
      margin-top: 30px;
      padding-left: 8px;
      padding-right: 8px;
      font-weight: 800;
    }
    .first_button:hover {
      background-color: #bb5617;
      color: #ffffff;
      cursor: pointer;
    }
  }
  
  @media (max-width: 400px) {
    .left {
      height: 65vh;
    }
    .left h1 {
      padding-top: 40px;
      padding-left: 25px;
      font-size: 25px;
    }
    .text {
      padding-left: 25px;
      font-size: 11px;
      font-weight: 400;
    }
    .date {
      padding-left: 25px;
      font-size: 12px;
    }
    .first_button {
      margin-left: 20px;
      margin-top: 30px;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 11px;
      font-weight: 800;
    }
    .first_button:hover {
      background-color: #bb5617;
      color: #ffffff;
      cursor: pointer;
    }
  }
  @media (max-width: 282px) {
    .first_container .left,
    .right_first_img {
      height: 55vh;
    }
    .left h1 {
      padding-top: 20px;
      padding-left: 16px;
      font-size: 20px;
    }
    .text {
      padding-left: 16px;
      font-size: 9px;
    }
    .date {
      padding-left: 16px;
      font-size: 8px;
    }
    .first_button {
      margin-left: 16px;
      margin-top: 40px;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 8px;
      font-weight: 800;
    }
    .first_button:hover {
      background-color: #bb5617;
      color: #ffffff;
      cursor: pointer;
    }
  }